<div class="modal-details modal-font" data-modal>
    <div class="modal-details__container">
      <!-- Close button -->
      <button type="button" class="modal-details__close" data-modal-close>
        <svg class="modal-details__close-icon" width="24" height="24">
          <use class="modal-close-btn" href="./img/close.svg#icon-close" style="fill: red;"></use>
        </svg>
      </button>
  
      <!-- Movie content -->
      <div class="modal-details__content">
        <!-- Movie poster -->
        <div class="modal-details__poster">
          <img src="" alt="" class="modal-details__image" />
        </div>
  
        <!-- Movie info -->
        <div class="modal-details__info">
          <h2 class="modal-details__title"></h2>
  
          <!-- Movie stats -->
          <div class="modal-details__stats">
            <div class="modal-details__stat">
              <span class="modal-details__stat-label">Vote / Votes</span>
              <div class="modal-details__stat-value">
                <span class="modal-details__vote"></span>
                <span class="modal-details__divider">/</span>
                <span class="modal-details__votes"></span>
              </div>
            </div>
  
            <div class="modal-details__stat">
              <span class="modal-details__stat-label">Popularity</span>
              <span
                class="modal-details__stat-value modal-details__popularity"
              ></span>
            </div>
  
            <div class="modal-details__stat">
              <span class="modal-details__stat-label">Genre</span>
              <span class="modal-details__stat-value modal-details__genre"></span>
            </div>
          </div>
  
          <!-- Movie description -->
          <div class="modal-details__about">
            <h3 class="modal-details__about-title">ABOUT</h3>
            <p class="modal-details__about-text"></p>
          </div>
  
          <!-- Library button -->
          <button
            type="button"
            class="modal-details__library-btn"
            data-action="add"
          >
            Add to my library
          </button>
        </div>
      </div>
    </div>
  </div>