<section class="upcoming container" id="upcoming">
  <h2 class="upcoming-title">UPCOMING THIS MONTH</h2>

  <div class="upcoming-content">
    <div class="upcoming-content-posterbox">
      <img
        class="upcoming-content-poster"
        src="./img/hero-2.png"
        id="content-poster"
        alt="Movie Poster"
      />
    </div>
    <div class="upcoming-content-info">
      <h3 class="upcoming-content-movie-title" id="movie-title">MOVIE TITLE</h3>

      <div class="upcoming-info">
        <ul class="upcoming-list">
          <li class="upcoming-listitem">
            <p class="upcoming-listitem-text">Release Date</p>
            <p class="upcoming-listitem-date" id="date-of-release">
              25.03.2022
            </p>
          </li>
          <li class="upcoming-listitem">
            <p class="upcoming-listitem-text">Vote / Votes</p>
            <p class="upcmoing-listitem-vote">
              <span class="vote" id="avarage-vote">6.7 </span>
              <span class="vote-span">/</span>
              <span class="vote vote-second" id="count-vote">234</span>
            </p>
          </li>
          <li class="upcoming-listitem">
            <p class="upcoming-listitem-text">Popularity</p>
            <p class="upcoming-listitem-popularity" id="popularity">227.4</p>
          </li>
          <li class="upcoming-listitem">
            <p class="upcoming-listitem-text">Genre</p>
            <p class="upcoming-listitem-genre" id="genres">Action, Drama</p>
          </li>
        </ul>
      </div>

      <h3 class="upcoming-movie-title">ABOUT</h3>
      <p class="upcoming-movie-text" id="summary">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
        nobis, consequatur velit voluptate dolore, ratione, aliquid atque in
        sapiente quae voluptatum fugiat laborum ad. Ea dignissimos maiores
        eligendi veniam inventore!
      </p>

      <!-- Library button -->
      <button type="button" class="upcoming__library-btn" data-action="add">
        Add to my library
      </button>
    </div>
  </div>
</section>