<section class="weekly">
  <div class="container">
    <div class="weekly-link-section">
      <h1 class="weekly-title">WEEKLY TRENDS</h1>
      <a href="./catalog.html" class="weekly-see-all">See All</a>
    </div>

    <div class="weekly-library">
      <ul class="weekly-movie-card" id="weekly-movie-card">
        <li class="catalog-item">
          <div class="catalog-info">
            <h2 class="catalog-title">GHOSTED</h2>
            <span class="catalog-span">Drama, Action | 2023</span>
          </div>
          <div class="catalog-stars">
            <span class="stars">STARS</span>
          </div>
        </li>
        <li class="catalog-item">
          <div class="catalog-info">
            <h2 class="catalog-title">GHOSTED</h2>
            <span class="catalog-span">Drama, Action | 2023</span>
          </div>
          <div class="catalog-stars">
            <span class="stars">STARS</span>
          </div>
        </li>
        <li class="catalog-item">
          <div class="catalog-info">
            <h2 class="catalog-title">GHOSTED</h2>
            <span class="catalog-span">Drama, Action | 2023</span>
          </div>
          <div class="catalog-stars">
            <span class="stars">STARS</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
